[user]
	name = {{ .name | quote}}
	email = {{ .email | quote}}
[fetch]
	prune = true
[core]
	mergeoptions = --no-edit
	editor = nvim
  pager = delta
[pager]
	branch = false
[pull]
	rebase = false
[push]
	autoSetupRemote = true
	default = current
[init]
	defaultBranch = main
[alias]
	unstage = reset HEAD --
	s = status
	an = add -N .
	aa = add .
	co = checkout
	c = commit
	m = merge
	rs = reset --soft HEAD^
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3
